<!--<div id="container">
	<div id="body">
	    <h1>Welcome to DataWay!</h1>	
        <form action="" method="get"> 
            
            <table id="outer_table">
               <tr>
                <td><table id="inner_table"> 
                    <tr><td colspan="3"><h3>Log in:</h3></td></tr>
                    <tr>
                        <td>E-Mail: </td>
                        <td colspan="2"><input type="text" name="e-mail" class="text_input"/></td>
                    </tr>
                    <tr>
                        <td>Password: </td>
                        <td colspan="2"><input type="password" name="passwortd" class="text_input"/></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="button" value="Sign Up" class="button_input"/></td>
                        <td><input type="submit" value="Log In" class="button_input"/></td>
		    </tr>
		     <tr><td colspan="3" class"right_align"> Forgot your Password?</td></tr>
		     <tr><td colspan="3"><h4 class="center">RPX's Data Gateway</h4></td></tr>
                 </table></td>
                </tr>
            </table>             
        </form>
  
	</div>
    <div id="footer">
    	<ul class="center">
            <li><a href="about.html">About</a></li>
            <li><a href="mailto:scarr@rpxcorp.com">Feedback</a></li>
            <li><a href="https://portal.rpxcorp.com/">Client Portal</a></li>
        </ul></div>
</div>
-->


<%= render 'devise/sessions/login_form' %>
