@charset "utf-8";
/* CSS Document */
body {
	font: Calibri, Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
}
#outer_table {
	width			: 25em;
	position		: relative;
	left 			: 50%;
	margin-left		: -12.5em;
	padding-left		: 0.5em;
	padding-right		: 0.5em;
	padding-top		: 0em;
	padding-bottom		: 1em;
	border-style		: solid;
	border-width		: 1em;
	border-color		: #333333;
	border-radius		: 1em; -moz-border-radius: 1em;
	background-color	: #2780C2;
}
#inner_table {
	width			: 25em;
	border			: 0;	
	margin			: 0.5em;
	&:hover {
		text-decoration		: underline;
		background		: #2780C2;
	}
	&:visited {
		color			: #333333;
	}
}
.text_input {
	width		 	: 98%;
}
.button_input {
	width		 	: 100%;
}
.bottom {
	vertical-align		: bottom;
}
.center {
	text-align		:center;
}
.right_align {
	float		: right;
}
ul li {
	display			: inline;
	list-style-type		: none;
	padding-left		: 0.75em;
	padding-right		: 0.75em;
}

